/* পুরো পেজের ডিজাইন */

body{

    margin:0;

    font-family:Arial, sans-serif;

    background:#f2f2f2;

    display:flex;

    justify-content:center;

    align-items:center;

    height:100vh;

}

.container{

    background:white;

    padding:30px;

    border-radius:10px;

    box-shadow:0 0 10px rgba(0,0,0,.2);

    text-align:center;

}

h1{

    margin-bottom:20px;

}

h2{

    font-size:60px;

    color:#0077ff;

}

button{

    padding:10px 20px;

    margin:5px;

    cursor:pointer;

    border:none;

    border-radius:5px;

    font-size:16px;

}

button:hover{

    opacity:.8;

}